<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Mark Bahnman</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
            <a href="https://github.com/markbahnman"><i class="icon-github icon-2x nav-icon"></i> </a>
            <a href="https://twitter.com/markbahnman"><i class="icon-twitter icon-large nav-icon"></i> </a>
			</p>
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
    </div>
 </div>
